:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --main-color: #f9f7fe;
  --head-color: #272142;
  --white-color: white;
  --black-color: #000000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --head-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 10px auto;
  width: 100%;
  display: block;
}

.logo {
  max-height: 70px;
}
nav {
  padding: 10px 50px;
}
nav ul {
  margin: 20px 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 24px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--head-color);
  transition: all 100ms ease-in-out;
  font-size: 24px;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

h1,
h2,
h3 {
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  height: 50px;
  width: 180px;
  text-align: center;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  color: var(--black-color);
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.images {
  display: block;
  width: 500px;
  border-radius: 4px;
}

/*index.html*/

.about {
  background-color: var(--main-color);
  text-align: center;
  padding: 276px 20px;
}
.about h1 {
  font-size: 96px;
  font-family: var(--head-font-family);
  font-weight: 700;
}
.about h2,
.about h3 {
  color: var(--head-color);
  font-family: var(--default-font-family);
}
.about h2 {
  font-size: 36px;
  font-weight: 700;
}
.project-description h2 {
  font-size: 64px;
  font-weight: 700;
  font-family: var(--head-font-family);
}
.about h3 {
  font-size: 24px;
  font-weight: 400;
}
.about a {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--default-font-family);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  font-weight: 500;
}
.about-link:hover,
.btn-project-link:hover {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--white-color);
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--white-color);
}
.contact-link:hover,
.primary-link:hover {
  background: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-project-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
}

.primary-link {
  color: var(--white-color);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  height: 50px;
  width: 180px;
  text-align: center;
}

.project-description p {
  font-family: var(--default-font-family);
  color: var(--head-color);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  opacity: 0.7;
}

.project-description {
  padding: 120px 60px;
}

.contact {
  border-radius: 20px;
  background-color: var(--main-color);
  padding: 15px 20px 15px 20px;
}

.contact h4 {
  font-family: var(--head-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 2;
}
.contact p {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  background-color: var(--main-color);
}

#text {
  padding: 40px 50px 40px 80px;
}
#btn {
  padding: 70px 80px 15px 20px;
}

/*about.html*/ /*work.html*/

.content-container h1 {
  font-family: var (--head-font-family);
  font-size: 64px;
  line-height: 85.31px;
  font-weight: 700;
}
.content-container h3 {
  font-family: var (--default-font-family);
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: var(--head-color);
}
#projects {
  font-family: var (--default-font-family);
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black-color);
}
.content-container p {
  font-family: var (--default-font-family);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: var(--head-color);
  opacity: 0.7;
  background-color: none;
}

.content-container {
  padding: 130px 20px;
}

.content-container img {
  border-radius: 20px;
  margin: 15px 0px 0px 20px;
}
.brand-shadow {
  box-shadow: 100px 0px 200px rgb(19, 116, 197),
    -100px 0px 200px rgb(193, 224, 250);
}

/*contact.html*/
.forma-message {
  padding: 30px 10px;
  border-radius: 4px;
}

.links a {
  color: var(--primary-color);
  background: var(--white-color);
  border-radius: 100%;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 120px;
}
.links a:hover {
  color: var(--white-color);
  background: var(--primary-color);
}

footer .icon a {
  color: var(--primary-color);
  background: var(--white-color);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
}
footer .icon a:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

@media screen and (max-width: 900px) {
  .about {
    padding: 80px 20px;
    line-height: 1.5;
  }
  .about h1,
  .content-container h1 {
    font-size: 32px;
  }
  .about h2,
  .contact h4,
  .project-description h2 {
    font-size: 24px;
  }
  .about h3 {
    font-size: 18px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .mail {
    font-size: 18px;
  }
  .contact h4 {
    font-size: 26px;
  }
  .contact h5 {
    font-size: 14px;
  }
  .content-container {
    text-align: center;
    padding: 0;
    margin-top: 35px;
  }
  .links a {
    font-size: 50px;
  }
  .col-lg-6,
  .col-6 {
    max-width: 300px;
  }

  .content h2 {
    font-size: 16px;
  }
  .content {
    text-align: center;
  }
}
