:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --main-color: #f9f7fe;
  --head-color: #272142;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --head-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

@media (max-width: 576px) {
  p {
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }
}

body {
  margin: 60px auto;
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 46px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.contact {
  background: var(--secondary-color);
  border-radius: 4px;
  margin: 132px 0 20px 0;
  padding: 40px 20px 40px 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 40px;
  font-size: 18px;
  line-height: 1.5;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.images {
  display: block;
  width: 500px;
  border-radius: 4px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

/*index.html*/
.about {
  background-color: var(--main-color);
  text-align: center;
  padding: 276px 20px;
}
.about h1 {
  font-size: 96px;
  font-family: var(--head-font-family);
  font-weight: 700;
}
.about h2,
.about h3 {
  color: var(--head-color);
  font-family: var(--default-font-family);
}
.about h2 {
  font-size: 36px;
  font-weight: 700;
}
.about h3 {
  font-size: 24px;
  font-weight: 400;
}
.about a {
  font-size: 18px;
  font-weight: 500;
}
.about a {
  font-family: var(--default-font-family);
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
